{% extends "base.html.twig" %}

{% block error %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                <span style="display: none;">{{ message }}</span>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block content %}
    <section class="row wrap">
        <div class="xLarge-12 large-12 medium-12 small-12 xSmall-12">
            <div class="margin-arround column center">
                <form method="POST" enctype="multipart/form-data">
                    {{ form_start(form) }}

                        <div class="form-group">
                            {{ form_label(form.name, "Nom") }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.name) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.picture, "Image") }}
                            {{ form_widget(form.picture, {'attr': {'class': 'form-control-file'}}) }}
                            {{ form_errors(form.picture) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.description, "Description") }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.description) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.category, "Catégorie") }}
                            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.category) }}
                        </div>

                        <button type="submit">Envoyer</button>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </section>
{% endblock %}