{% extends "base.html.twig" %}

{% block title %}
    <section class="row wrap ">
        <div class="xLarge-12 large-12 medium-12 small-12 xSmall-12 ">
            <div class="pad-arround column content-title white ">
                <h2>Accueil</h2>
                <p>Vous vous trouvez sur la page principale. Cette page contient la liste de toutes les sociétés référencés sur cette annuaire.</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="row wrap white">

        {% for society in societies %}
            <div class="xLarge-5 large-5 medium-12 small-12 xSmall-12">
                <div class="margin-arround row ">
                    <div class="card-product">
                        <img src="{{ asset(society.img) }}">
                    </div>
                </div>
            </div>
            <div class="xLarge-7 large-7 medium-12 small-12 xSmall-12">
                <div class="margin-arround">
                    <div class="">
                        <h2><a href="{{ path('readAllSociety', {'id':society.id}) }}">{{ society.name }}</a></h2>
                        <h3>Catégorie: <a href="{{ path('readAllSociety', {'id':society.id}) }}">{{ society.category.name }}</a></h3>
                        <h3>Crée le: {{ society.createdat|date('d m Y')  }}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}